<section>
<div class="center cenrer-block">
  <div class="service-head">
    <h1 class="ttl-main-page" itemprop="name">
    <i class="icon-l ctg-icon_aircon"></i>
    <span class="center_span">4/1〜予約！新春CP！技術は富士山級！接客はエベレスト級！15000縁！</span>
    </h1>
    <p class="description" itemprop="description">水圧32kg／cmの強力高圧分解洗浄！10年2万台の実績！損保加入！非喫煙者がお伺いします。消臭コート無料！</p>
  </div>
  <div class="service-content01">
    <div class="change-photo">
      <div class="main-photo">
        <img class="photo1" src="images/products/product-8.jpg" alt="" itemprop="image">
      </div>
    </div>
  </div>
  <div class="service-link">
    <a class="shortcut-on" href="#price">
      料金表
      <span class="glyphicon glyphicon-menu-down" aria-hidden="true">
      </span>
    </a>
  </div>
  <div class="servixe-content02">
    <div id="salse-point" class="mb-large">
      <h2 class="content-h2">セールスポイント</h2>
      <div class="box-content">
					<p>
            <br>★★★★★★★★★★★★★★★★★★<br>
            当店の<br>
            『エアコンクリーニング/天井埋込タイプ』<br>
            のサービスがお客様に支持され、<br>
            <br>
            『くらしのマーケットアワード2018』<br>
            において総合賞『金賞』を<br>
            ２年連続受賞しました！！<br>
            ★★★★★★★★★★★★★★★★★★<br>
            <br>
            『金賞』を受賞した<br>
            当社の【技術】と【接客】については、<br>
            口コミの下にある<br>
            『詳しいサービス内容』を<br>
            ご確認下さい！！！
          </p>
					<p><a class="link-contact" href="#">このサービスについて質問する</a></p>
        </div>
  </div>
</div>
</section>
    <!-- Js Plugins -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.zoom.min.js"></script>
    <script src="assets/js/jquery.dd.min.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>