<section class="product-shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
        <div class="box29">
          <div class="box-title">累計評価</div>
          <h5 class="star_rate">4.84</h5>
          <p>ここに文章</p>
        </div>
        <div class="box2">
          <p>ここに文章</p>
        </div>
        <div class="filter-widget">
          <h4 class="fw-title">一覧</h4>
          <ul class="filter-catagories">
            <li><a href="#">a</a></li>
            <li><a href="#">b</a></li>
            <li><a href="#">c</a></li>
          </ul>
        </div>
      </div>
    <div class="col-lg-9 order-1 order-lg-2">
      <div class="product-show-option">
        <div class="list_head">
          <h4 class="fw-title">エアコンクリーニングのサービス 1~20件（2,716件中）</h4>
          <ul class="list-sort nav nav-tabs">
            <li class="on space_box">
              <a herf="####">
                <span class="sort-name">ランキング</span>
              </a>
            </li>
            <li class="on space_box">
              <a herf="####">
                <span class="sort-name">ランキング</span>
              </a>
            </li>
            <li class="on space_box">
              <a herf="####">
                <span class="sort-name">ランキング</span>
              </a>
            </li>
            <li class="on space_box">
              <a herf="####">
                <span class="sort-name">ランキング</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="s_top_space">
                <%= link_to "★年間8000件の実績!!★カビ取りの専門店やってます★", "#"%>
                <div class="posted-by">
                  <div class="pb-pic list-mgr-img-box">
                    <img src="images/blog/post-by.png" alt="">
                  </div>
                  <div class="pb-text ">
                    <p class="posted_text">Aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                     velit esse cillum bore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                     amodo</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <div class="m_top_space">
                <%= link_to "★年間8000件の実績!!★カビ取りの専門店やってます★", "#"%>
                <div class="posted-by">
                  <div class="pb-pic list-mgr-img-box">
                    <img src="images/blog/post-by.png" alt="">
                  </div>
                  <div class="pb-text">
                    <p class="posted_text"> Aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                     velit esse cillum bore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                     amodo</p>
                    <p class="">aaaaaaaa</p>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </section>
    </div>
  </div>
</section>

<!-- Js Plugins -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/jquery.zoom.min.js"></script>
<script src="assets/js/jquery.dd.min.js"></script>
<!-- <script src="assets/js/jquery.slicknav.js"></script> -->
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/main.js"></script>