<%= f.collection_check_boxes :city_ids, City.all, :id, :name, include_hidden: false do |city| %>
  <ul class="city-check-box">
    <% if prefecture.object.id == city.object.prefecture_id %>
      <div id="boxes">
        <li class="city-check-box-item"><%= city.check_box + city.text %></li>
      </div>
    <% end %>
  </ul>
<% end %>