<td class="city-check-boxes">
  <%= f.collection_check_boxes :city_ids, City.all, :id, :name, include_hidden: false do |c| %>
    <ul class="city-check-box">
      <% if p.object.id == c.object.prefecture_id %>
        <div id="boxes">
          <li class="city-check-box-item"><%= c.check_box + c.text %></li>
        </div>
      <% end %>
    </ul>
  <% end %>
</td>