// Place all the styles related to the business_trip_ranges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.city-check-box {
  list-style: none;
  display: inline-block;
  text-align: center;
}