// Place all the styles related to the store_manager/Store_manager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
li {
  list-style: none;
}
.top_space {
  margin-top: 40px;
}
.text_area {
  text-align: center;
}
.text_width {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.text_left {
  text-align: left;
}
.left_logo {
  float: left;
}
.right_bottun {
  float: right;
}
.text_space_15 {
  margin-top: 15px;
}
.mypage_space {
  margin-bottom: 30px;
  overflow: hidden;
}
.headline_space{
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: #DDDDDD;
}
.font_size_10 {
  font-size: 10px
}
.hader_space {
  padding-top: 0px;
  height: 96px;
  padding-left: 0px;
  border-bottom: 1px solid #b5b5b5;
}
.bottom_border {
  border-bottom: 1px solid #b5b5b5;
}
.header_ul_space{
  margin-bottom: 1px;
  margin-bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header_ul_space::before {
  clear: both;
  content: "";
  display: block;
}
.header_line_a {
  background: #fff;
  border: 1px solid #b5b5b5;
  border-bottom: 1px solid #fff;
  border-radius: 4px 4px 0 0;
  color: #222;
  display: block;
  float: left;
  height: 40px;
  margin-right: 10px;
  margin-bottom: -1px;
  text-align: center;
  width: 145px;
  padding-top: 10px;
}

.header_line {
  background-position: 0 0;
  background-color: #e8e8e8;
  border-bottom: 1px solid #b5b5b5;
  border-radius: 4px 4px 0 0;
  display: block;
  float: left;
  height: 40px;
  margin-right: 10px;
  margin-bottom: -1px;
  text-align: center;
  width: 145px;
  padding-top: 10px;
  text-decoration: none;
}
.btn_space {
  margin-top: 10px;
}
