<div class="text_width">
  <h1>Smart Potal</h1>
  <div class="hader_space">
    <div class="">
      <ul class="header_ul_space ">
        <li>
          <a class="header_line_a" herf="#">マイページ</a>
        </li>
        <li>
          <%= link_to "予約の管理", "#",  class:"header_line" %>
        </li>
        <li>
          <%= link_to "登録内容の編集", "#",  class:"header_line" %>
        </li>
      </ul>
    </div>
  </div>
</div>