<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">大鷹さんの予約の詳細</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <table class="table-bordered table-condensed table_sapce detals_table table_text_aligin_c">
          <tr>
            <td>名前</td>
            <td>大鷹 鷲</td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td>000-0000-0000</td>
          </tr>
          <tr>
            <td>予約時間</td>
            <td>11:00~14:00</td>
          </td>
          <tr>
            <td>予約住所</td>
            <td>愛知県名古屋市西区２−１</td>
          </tr>
          <tr>
            <td>施術内容</td>
            <td>xxxxxxx</td>
          </tr>
        </table>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <div class="details_btn">
          <button type="button" class="btn btn-warning" data-dismiss="modal">予約者に連絡</button>
        </div>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->