<div class="text_width">
  <h1 class="left_logo">Smart Potal</h1>
  <div class="right_bottun">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-warning btn_space" %>
  </div>
  <div class="hader_space">
    <div class="">
      <ul class="header_ul_space ">
        <li>
          <%= link_to "マイページ", store_manager_path(current_store_manager),  class:"header_line no_nuderline" %>
        </li>
        <li>
          <a class="header_line_a">予約の管理</a>
        </li>
        <li>
          <%= link_to "登録内容の編集", store_managers_show_path(current_store_manager),  class:"header_line no_nuderline" %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="top_space">
  <div class="text_width text_left">
    <h1 class="top_space bottom_space">予約の管理</h1>
  </div>
  <div class="text_width">
    <br><div id="calendar"></div>
  </div>
</div>

<div id="details" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<%= render template: "layouts/store_managers"%>



<div id="calendarModal" class="modal fade">
  <div class="modal-dialog modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">close</span>
        </button>
        <span id="modalTitle" class="modal-title"></span>
      </div>
      <div id="modalBody" class="modal-body">あああ</div>
      <div id="modalFooter" class="modal-footer"></div>
    </div>
  </div>
</div>




<script>


Object.keys(gon.events).forEach(function (key) {
  
  var id = (gon.events[key]["id"])
  var request = (gon.events[key]["request"])
  var start = (moment.unix(gon.events[key]["start_at"]).format());
  var end = (moment.unix(gon.events[key]["end_at"]).format());
  var title = (gon.events[key]["task_course"]["title"])
  var course_time = (gon.events[key]["task_course"]["course_time"])
  var charge = (gon.events[key]["task_course"]["charge"])
  var name = (gon.events[key]["store_member"]["name"])
  var phone = (gon.events[key]["store_member"]["phone"])
  var address = (gon.events[key]["store_member"]["address"])
  
  var data = [
    {"title": title}, 
    {"start": start}, 
    {"end": end}
  ]
  
  
  $('#calendar').fullCalendar({
        // ヘッダーのタイトルとボタン
        header: {
            // title, prev, next, prevYear, nextYear, today
            left: 'prev,next today',
            center: 'title',
            right: 'month agendaWeek agendaDay'
        },
        eventClick: function(calEvent, jsEvent, view) {
           // 予定が入っている日をクリックするとモーダル表示
           $('#modalTitle').html(calEvent.title); // モーダルのタイトルをセット
           $('#modalBody').html([calEvent.request ]); // モーダルの本文をセット
           $('#calendarModal').modal(); // モーダル着火
        },
        dayClick: function () {
            
            alert('日付クリックイベント');
        },
        events: data,
        
        // ボタン文字列
        buttonText: {
            today:    '今日',
            month:    '月',
            week:     '週',
            day:      '日'
        },
        // 曜日名称
        dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
        // 曜日略称
        dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
        
});
});

var events_data=[
      {
      title: "event",
      start: "2020-07-07",
      }
  ];



</script>